home/you/.config/mpv/watch_later
home/you/.config/mpv/scripts/sponsorblock_shared/sponsorblock.db.tmp
home/you/.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt
home/you/.config/micro/backups
home/you/.config/micro/buffers
home/you/.config/btop/btop.log